<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472741962249-e7b0eo2ccg8blbqr8k3ns4m1r8ju9c0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472741962249-e7b0eo2ccg8blbqr8k3ns4m1r8ju9c0k</string>
	<key>API_KEY</key>
	<string>AIzaSyDBlyN6iL1Z-7cwKGk9WIqP9Hd4WNcm4HA</string>
	<key>GCM_SENDER_ID</key>
	<string>472741962249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twige</string>
	<key>PROJECT_ID</key>
	<string>seniordesign-99fb8</string>
	<key>STORAGE_BUCKET</key>
	<string>seniordesign-99fb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472741962249:ios:3736b8ec1fb0b2107a0ed8</string>
</dict>
</plist>